.body{
  display: block;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;

}
/* .body>.body-img{
  height: 400px;
} */

.body>.body-content-first{
  
  background-color: cadetblue;
  margin-top: 10px;
}
.body-content-first>.body-content-about,
.body-content-second>.body-content-staffing,
.body-content-third>.body-content-services,
.body-content-fourth
,.body-content-connect{
  display: block;
  flex-direction: column;
  width: 80vw;
  margin: auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.body-content-about>h1,
.body-content-staffing>h1,
.body-content-services>h1,
.body-content-location>h1,
.body-content-fifth{
  text-align: center;

}
.body-content-about>h1,
.body-content-about>p{
  color: white;
}
.body>.body-content-second{
  background-color: rgb(154, 190, 219);
}
.body>.body-content-third,
.body>.body-content-fifth{
  background-color: cadetblue;
  color: white;
}
.body-content-staffing>h1,
.body-content-staffing>p{
  color: white;
}
.body-content-staffing-grid-top,
.body-content-staffing-grid-bottom,
.body-content-services-grid-top,
.body-content-services-grid-bottom

{
  display: flex;
  justify-content: space-between;
  width: 80vw;
  margin: auto;
}
.body-content-location-grid{
  width: 80vw;
margin: auto;
display: flex;
}

.body-content-location-left,
.body-content-location-right{
  padding: 10px;
}

.body-content-location-left{
  width: 100%;
}

.map-img{
  width: 80vw;
  height: 400px;
}
.body-content-location-right{
  display: none;
}
.body-content-location>.location{
  display: flex;
  width: 50vw;
  margin: auto;
align-items: center;
display: none;
}
.body-content-services-bottom,
.body-content-services-top{
  display: flex;
  justify-content: space-between;
  width: 80vw;
  margin: auto;
}
.grid{display: block;
flex-direction: column;
width: 100%;
height: 250px;}
.grid>h1{
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  
}
.grid{
  display: block;
  text-align: center;
}

.grid:hover{
  background-color: cadetblue;
}
.grid:hover .hidden-content{
  display: block;
}
.grid:hover .circle{
  display: none;
}
.body-content-services-bottom>.grid:hover,
.body-content-services-top>.grid:hover{
  background-color: rgb(154, 190, 219) ;
}
.circle{
text-align: center;
margin-left: 30%;
bottom: 0;}

.btn-submit{
  padding: 10px 30px;
}
.btn-submit:hover{
  background-color: red;
}
.hidden-content{
  text-align: left;
  display: none;
  margin: auto;
}
li{
  margin-left: 20px;
}
.body-img>.caption{
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
.caption>h1{
  font-size: 24px;
}
.caption>p{
  font-size: 18px;
}
.l-list>li{
  margin-bottom: 30px;
}
@media screen and (max-width:700px){
  .body-content-staffing-grid-top,
.body-content-staffing-grid-bottom,
.body-content-services-bottom,
.body-content-services-top,
.body-content-location-grid{
  display: block;
  flex-direction: column;
}
.circle{display: none;}
.hidden-content{
  display: block;
}
.body-content-services-bottom>.grid,
.body-content-services-top>.grid{
  background-color: rgb(154, 190, 219) ;
}
.grid{
    height: fit-content;
    border-radius: 7px;
    margin-bottom: 10px;
    background-color: cadetblue;
    padding: 10px;
    margin-left: -10px;

}
.caption
{display:none;}
.body-content-about,
.body-content-services{
  margin-left: 20px;
  margin-right: 20px;
}
.body-content-services{
  padding-bottom: 10px;
}

.body-content-about>p,
.body-content-staffing>p,
.body-content-services>p{
  text-align: justify;
}
.map-img{
  width: 80vw;
  height: 200px;
}
}